body {
  margin: 0 auto;
  max-width: 50em;
  font: italic small-caps bold 24px Arial, sans-serif;
  color: rgba(0, 200, 200, 0.7);  background-image: linear-gradient(white, grey);
  background-repeat: no-repeat;
}

/* this is a comment */

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
  font-size: 180%;
}

/*span*/.iframe-wrapper {
	width: 50%;
	height: 0;
	padding: 40% 0 0;
	display: block;
	position: relative;
	border: 5px solid blue;
}


/*span*/.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}
