body {
  margin: 0 auto;
  max-width: 50em;
  font-family: “Helvetica”, “Arial”, “Georgia”, sans-serif;
  color: rgba(0, 200, 200, 0.7);
  line-height: 3;
  font-size: 30px;
  padding: 4em 1em;
}

/* this is a comment */
 
h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
  font-size: 180%;
}